{% extends "base.html" %}

{% block h1_header %}
Sobre mi
{% endblock h1_header %}


{% block main %}
<p>
    Me llamo Marcos Fernandez, tengo 22 años y estoy estudiando Desarrollo Web de hace 2 años aproximadamente, hasta ahora venia estudiando Front-end pero
    busque adentrarme en el Back-end con Python.
    Me gustaria poder aprender mas en el mundo laboral de la programacion y tambien me gustaria poder trabajar como desarrollador de juegos, hice un curso anteriormente pero no profundice
    en ese rubro y me gustaria.
</p>
{% endblock main %}
