<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <nav style='display: flex; justify-content: space-around; background-color: black; height: 50px; font-size: 30px; '>
        <a style='text-decoration: none; color: white;' href={% url "inicio" %}>Inicio</a>
        <a style='text-decoration: none; color: white;' href={% url "crear_personaje" %}>Crear personajes</a>
        <a style='text-decoration: none; color: white;' href={% url "personajes" %}>Personajes</a>
    </nav>
</header>

    <h1>Crear personaje</h1>

    <form action={% url "crear_personaje"%} method="POST">
        {% csrf_token %}
        <table>
            {{formulario}}
        </table>
        <input type="submit" value="Crear">
    </form>
        
    
</body>
</html>